/*------------------------------------*
   $FOOTER
*------------------------------------*/

.footer{
  padding-top: 20%;
  // background: $base-ui-color url('/images/footer_bg.png') bottom center no-repeat;
  background-color: $base-ui-color;
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  @extend .cf;

  &:after{
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    content: '';
    background-image: linear-gradient($base-ui-color, rgba(0, 0, 0, 0));
  }

  @include media-query(palm) {
    padding-top: 30%;

    &:after{
      height: 150px;
    }

    .palm-one-whole{
      margin-bottom: 20px;
    }
  }
}

.footer__inner{
  padding: 2em 2em .5em 2em;

  a{
    color: $brand-color;
    font-weight: 600;

    &:hover{
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
    }
  }

  p{
    margin: 0;
    color: #fff;
  }

  @include media-query(palm) {
    padding: 2em 10px 0;
  }
}

.copyright{
  @include media-query(palm) {
    display: none;
    visibility: hidden;
  }
}

.copyright-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  color: #fff;
}

.copyright-desc{
  font-weight: 500;
  font-size: 1em;
  display: block;
  margin-bottom: 1.5em;
  color: #fff;
}

.copyright-text{
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7em;
  line-height: 1.2;
  color: #fff;
}

.address{
  padding-left: 2em;
  margin: 0;
  color: #fff;

  strong{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
  }

  p{
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    font-style: normal;
    letter-spacing: 1px;
  }

  @include media-query(palm) {
    padding-left: 0;
  }
}

.footer-title{
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #fff;
}

.social-item{
  width: 2em;
  height: 2em;
  color: #fff;
  background-color: $base-ui-color;
  text-indent: -9999px;
  @include vendor(border-radius, 2em);
}


/**
 * Social icons
 */
$social-icons: twitter #1BB2E9, facebook #3C599B, github #323031, linkedin #00649D, instagram #2C668C, spotify #90B436;

@each $icons in $social-icons {
  $icon: nth($icons, 1);
  $color: nth($icons, 2);

  .social-item--#{$icon}{
    background: $color url("/images/#{$icon}.svg") center center no-repeat;
    -webkit-background-size: 50%;
    background-size: 50%;
    @include vendor(transition, background-color .2s ease);

    &:hover{
      background-color: darken($color, 15%);
      border-bottom: none !important;
    }
  }
}
