/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
    text-rendering: optimizeLegibility;
    color: $base-ui-color;
}

::selection{
  background-color: $base-ui-color;
  color: #fff;
}

::-webkit-selection{
  background-color: $base-ui-color;
  color: #fff;
}

::-moz-selection{
  background-color: $base-ui-color;
  color: #fff;
}

a{
  color: $brand-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover{
    border-bottom: 1px solid $brand-color;
  }
}

.site-name{
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  line-height: 2.5;

  a{
    color: #fff;
    text-decoration: none;
    @include vendor(transition, color .2s ease);

    &:hover{
      border-bottom: none;
      color: $brand-color;
    }
  }
}

/**
 * Section headers
 */
.section-header{
  margin-bottom: 2em;
  text-align: center;
  @extend .cf;

  &.section-header--negative{
    color: #fff;
  }
}

.section-header__inner{
  display: inline-block;
}

.section-title{
  text-transform: uppercase;
  font-size: 1.8em;
  margin: 0;
  letter-spacing: 2px;
}

.section-title__desc{
  font-family: $second-font-family;
  font-style: italic;
  font-size: .9em;
  line-height: 3em;
  display: inline-block;
  padding: 0em .5em;
  color: lighten($base-ui-color, 30%);
  position: relative;

  .section-header--negative &{
    color: $base-ui-color--light;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    @include vendor(transform, translateX(-50%));
    height: 3px;
    width: 4em;
    background-color: $base-ui-color;

    .section-header--negative &{
      background-color: #fff;
    }
  }
}
