<footer class="footer resrc" role="contentinfo" data-src="/images/footer_bg.png">
  <div class="footer__inner">
    <div class="grid">
      <div class="grid__item one-quarter  palm-one-whole">
        <div class="copyright">
          <h4 class="copyright-title">{{ site.name }}</h4>
          <small class="copyright-desc">{{ site.title }}</small>

          <p class="copyright-text">© <span class="year">2014</span> {{ site.wired }},<br>unless otherwise noted.</p>
        </div>
      </div>
      <div class="grid__item one-quarter  palm-one-whole">
        <address class="address">
          <p><strong>{{ site.wired }}</strong></p>
          <p>Söderbyvägen 4, 195 60,</p>
          <p>Arlandastad, Sweden</p>
          <p>+46(0) 735 12 73 21</p>
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </address>
      </div>
      <div class="grid__item three-tenths  palm-one-whole">
        <h4 class="footer-title">Colophon</h4>

        <p>Designed, developed, and maintained by <a href="/">Johnie Hjelm</a>. Hosted by <a href="http://binero.se">Binero</a>. Set in Brandon Grotesque and Old Standard. Photos by <a href="http://henrikbjorkman.com/">Henrik Björkman</a>. View the <a href="http://github.com/johnie/johnie.se">source</a>.</p>
      </div>
      <div class="grid__item two-tenths footer-social  palm-one-whole">
        <h4 class="footer-title">Let's connect</h4>

        <ul class="nav social">
          <li><a href="http://twitter.com/johniehjelm" class="social-item social-item--twitter" target="_blank">Twitter</a></li>
          <li><a href="http://fb.com/johniehjelm" class="social-item social-item--facebook" target="_blank">Facebook</a></li>
          <li><a href="http://github.com/johnie" class="social-item social-item--github" target="_blank">Github</a></li>
          <li><a href="http://se.linkedin.com/in/johniehjelm/" class="social-item social-item--linkedin" target="_blank">LinkedIn</a></li>
          <li><a href="http://instagram.com/johnie" class="social-item social-item--instagram" target="_blank">Instagram</a></li>
          <li><a href="http://open.spotify.com/user/johniehjelm" class="social-item social-item--spotify" target="_blank">Spotify</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
