<script src="{{ site.url }}js/instagram.min.js"></script>
<script src="{{ site.url }}js/promin.js"></script>
<script src="{{ site.url }}js/nav.js"></script>
<script src="{{ site.url }}js/main.js"></script>
<script>
  var $form = $('#theForm');

  // Stuff for the progress bar
  var $bar = $('.progress-bar .bar');
  var steps = $('.pm-step').length;

  // Initialize Promin
  $form.promin({
      // Set method to AJAX
      // Still uses the form's action URL
      actions: {
          submit: 'ajax'
      },

      autofocus: false,

      // Want to update the bar on every change
      events: {
          change: function(i) {
            $('.number-current').text(i+1);
          }
      },

      // Run this when AJAX is sent
      ajaxCallback: function(data) {
          alert('Data was sent (nowhere) via AJAX!');
      }
  });

  // Tell the button to go to the next step
  $('.contact-form__next').on('click', function() {
      $form.promin('next');
  });
</script>

<footer class="footer" role="contentinfo">
  <div class="footer__inner">
    <div class="grid">
      <div class="grid__item one-quarter">
        <div class="copyright">
          <h4 class="copyright-title">{{ site.name }}</h4>
          <small class="copyright-desc">{{ site.title }}</small>

          <p class="copyright-text">© <span class="year">2014</span> {{ site.wired }},<br>unless otherwise noted.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <address class="address">
          <p><strong>{{ site.wired }}</strong></p>
          <p>Söderbyvägen 4, 195 60,</p>
          <p>Arlandastad, Sweden</p>
          <p>+46(0) 735 12 73 21</p>
          <p><a href="mailto:johnie@hjelm.im">johnie@hjelm.im</a></p>
        </address>
      </div>
      <div class="grid__item three-tenths">
        <h4 class="footer-title">Colophon</h4>

        <p>Designed, developed, and maintained by <a href="/">Johnie Hjelm</a>. Hosted by <a href="http://binero.se">Binero</a>. Set in Brandon Grotesque and Old Standard. Photos by <a href="http://henrikbjorkman.com/">Henrik Björkman</a>. View the <a href="http://github.com/johnie/johnie.se">source</a>.</p>
      </div>
      <div class="grid__item two-tenths footer-social">
        <h4 class="footer-title">Let's connect</h4>

        <ul class="nav social">
          <li><a href="http://twitter.com/johniehjelm" class="social-item social-item--twitter" target="_blank">Twitter</a></li>
          <li><a href="http://fb.com/johniehjelm" class="social-item social-item--facebook" target="_blank">Facebook</a></li>
          <li><a href="http://github.com/johnie" class="social-item social-item--github" target="_blank">Github</a></li>
          <li><a href="http://se.linkedin.com/in/johniehjelm/" class="social-item social-item--linkedin" target="_blank">LinkedIn</a></li>
          <li><a href="http://instagram.com/johnie" class="social-item social-item--instagram" target="_blank">Instagram</a></li>
          <li><a href="http://open.spotify.com/user/johniehjelm" class="social-item social-item--spotify" target="_blank">Spotify</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
