<header class="header" role="banner">
  <div class="banner">
    <div class="grid">
      <div class="grid__item one-quarter">
        <h1 class="site-name">
          <a href="/">{{ site.name }}</a>
        </h1>
      </div>
      <div class="grid__item three-quarters">
        <nav class="nav nav--top" role="navigation">
          <li><a href="#profile">Profile</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="{{ site.journal }}">Journal</a></li>
          <li><a href="#contact" class="btn btn--natural btn--positive btn--soft btn--old btn--contact">Get in Touch</a></li>
        </nav>
      </div>
    </div>
  </div>

 <h2 class="slogan">I believe in the <span>why</span></h2>
</header>
