<header class="header resrc" role="banner" data-src="/images/bg.png">
  <div class="banner">
    <div class="grid">
      <div class="grid__item one-quarter palm-one-whole lap-one-whole">
        <h1 class="site-name">
          <a href="/">{{ site.name }}</a>
        </h1>
      </div>
      <div class="grid__item three-quarters responsive-nav  palm-one-whole lap-one-whole">
        <nav class="nav nav--top" role="navigation">
          <li><a href="#profile" class="menu-item">Profile</a></li>
          <li><a href="#services" class="menu-item">Services</a></li>
          <li><a href="#work" class="menu-item">Work</a></li>
          <li><a href="{{ site.journal }}" target="_blank" class="journal-link">Journal ›</a></li>
          <li><a href="#contact" class="btn btn--natural btn--positive btn--soft btn--old btn--contact" class="menu-item">Get in Touch</a></li>
        </nav>
      </div>
    </div>
  </div>

 <h2 class="slogan">I believe in the <span>why</span></h2>

 <div class="jumper">↓</div>
</header>
