<section id="profile">
  <div class="profile-excerpt">
    <div class="profile-excerpt__inner">
      {% markdown excerpt.md %}
    </div>
  </div>

  <article class="article profile" id="story">
    <div class="grid">
      <div class="grid__item one-third profile__image  palm-one-whole lap-one-whole resrc" data-src="/images/johnie_left.jpg"></div>
      <div class="grid__item two-thirds profile__content  palm-one-whole lap-one-whole">
        <div class="profile__content-inner">
          {% markdown main.md %}
        </div>
      </div>
    </div>
  </article>
</section>
