<section id="profile">
  <div class="profile-excerpt">
    <div class="profile-excerpt__inner">
      {% markdown excerpt.md %}
    </div>
  </div>

  <article class="article profile" id="story">
    <div class="flexbox">
      <div class="flexbox__item one-third position--relative  palm-one-whole lap-one-whole" >
        <div class="profile__image"></div>
      </div>
      <div class="flexbox__item two-thirds profile__content  palm-one-whole lap-one-whole">
        <div class="profile__content-inner">
          {% markdown main.md %}
        </div>
      </div>
    </div>
  </article>
</section>
