<section id="services">
  <div class="services">
    <div class="container services-container">

      <div class="grid">
        <div class="grid__item"></div>
        <div class="grid__item"></div>
        <div class="grid__item"></div>
        <div class="one-whole">

        </div>
      </div>
    </div>
  </div>

  <div class="instagram">
    <div class="insta-content">
      <p class="insta-title">Stay hungry, stay foolish.</p>
      <p class="insta-desc">Photos From My Instagram</p>
    </div>
  </div>
</section>
