/*------------------------------------*
   $PROFILE
*------------------------------------*/

/**
 * Profile Excerpt
 */
.profile-excerpt{
  background-color: $base-ui-color;
  color: #fff;
  height: 250px;
  position: relative;
  @extend .cf;

  @include media-query(palm) {
    height: auto;
  }
}

.profile-excerpt__inner{
  display: inline-block;
  width: 100%;
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  @include vendor(transform, translate(-50%, -50%));

  p{
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 300;

    strong{
      font-weight: 500;
    }
  }

  @include media-query(palm) {
    padding: 30px 15px;
    position: relative;
    top: 0;
    left: 0;
    @include vendor(transform, translate(0, 0));
    display: block;

    p{
      font-size: 18px;
      line-height: 1.68;
    }
  }
}



/**
 * Main Profile
 */
.profile{
  min-height: 500px;
  position: relative;
  @extend .cf;

  @include media-query(palm) {
    .palm-one-whole{
      display: block;
      position: relative;
    }
  }

  @include media-query(lap) {
    .lap-one-whole{
      display: block;
      position: relative;
    }
  }
}

.profile__image{
  background: $base-ui-color url('images/johnie_left.png') center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  @include media-query(palm) {
    background: $base-ui-color url('images/johnie_left.png') center -100px no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative !important;
    height: 300px;
  }

  @include media-query(lap) {
    background: $base-ui-color url('images/johnie_left.png') center -250px no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative !important;
    padding-bottom: 50%;
  }
}

.profile__content{
  float: right;
}

.profile__content-inner{
  padding: 2.5em;
  display: block;
  max-width: 900px;
  margin: 0 auto;

  p{
    font-size: 1.2em;
    line-height: 1.68;
    font-weight: 300;
  }

  @include media-query(palm) {
    padding: 30px 15px;

    p{
      font-size: 16px;
    }
  }
}
