/*------------------------------------*
   $SERVICES
*------------------------------------*/

.services{
  padding-bottom: 130%;
  background:$base-ui-color url('images/johnie_content.png') bottom center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: relative;
}
