<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
  <![endif]-->

  <meta property="og:title" content="{{ site.name }}" />
  <meta property="og:description" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.url }}images/social.jpg" />
  <link rel="apple-touch-icon" href="{{ site.url }}images/apple-touch-icon.png" />

  <meta rel="dns-prefetch" href="//use.resrc.it" />
  <meta rel="dns-prefetch" href="//use.typekit.net" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
  <meta name="description" content="{{ site.name }} - {{ site.title }}">
  <meta name="author" content="{{ site.name }}">
  <meta name="keywords" content="Johnie, Hjelm, Designer, Developer, Entrepreneur, Crip">
  <link rel="icon" href="{{ site.url }}images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="{{ site.url }}assets/dist/style.min.css">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script src="https://use.resrc.it/0.9"></script>
  <script type="text/javascript" src="https://use.typekit.net/lvx6ubl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <title>{% if page.title %}{{ site.name }} - {{ page.title }}{% else %}{{ site.name }} - {{ site.title }}{% endif %}</title>
  <meta charset="UTF-8">
</head>
<body class="{{ page.title | downcase | replace: " ", "-" }}">
  <div class="site">
    {% include header.html %}

      <div class="main" role="main">
        {{ content }}
      </div>

    {% include footer.html %}
  </div>
  <script src="{{ site.url }}assets/dist/main.min.js"></script>
</body>
</html>
